/* Reset some default styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #181718;
  color: #fff;
}

/* Basic layout styles */
header {
  background-color: #333;
  color: #fff;
  padding: 10px;
  text-align: center;
}

header h1 {
  font-size: 32px;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}

/* Add your CSS below here */

/* Table styling */
table {
  width: 70%;
  margin: 40px auto;
  margin-bottom: 2px;
  border-collapse: collapse;
  color: #fff;
}

caption {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 16px;
  color: #fff;
}

th,
td {
  padding: 16px;
  border: 1px solid #444;
  text-align: left;
}

th {
  color: #00f7ff;
  font-size: 24px;
}

td {
  font-size: 20px;
}

.price-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.high {
  color: #00ff00;
  background-color: #203309;
  padding: 10px;
}

.low {
  color: #ff0000;
  background-color: #5c0c1d;
  padding: 10px;
}

.pagination {
  text-align: left; /* Aligns the buttons to the left */
  margin-top: 16px;
  width: 90%; /* Set the width to match the table */
}

button {
  padding: 12px 24px;
  margin: 5px;
  background-color: #181718;
  color: #fff;
  font-weight: bold;
  font-size: large;
  border: solid 1px #fff;
  border-radius: 5px;
  cursor: pointer;
  transition: background-coloe 0.3s;
}

button:hover {
  padding: 13px 25px;
}

button:disabled {
  cursor: not-allowed;
}
